 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 5%;
  min-width: 320px;
  border-radius: 5px;

}

.newInput {
  margin: 0px auto;
  width: 80%;
  text-align: center;
  padding: 1%;
  width: 80%;
}

#newTaskInput {
  margin: 3%;
  min-height: 40px;
  padding: 2%;
  width: 100%;
}

#dueDateInput {
  // margin: 5%;
  min-height: 40px;
  padding: 2%;
  min-width: 80px;
  text-align: center;
}

button {
  margin: 5%;
  width: 175px;
  height: 35px;
}

.newTasksContainer h4 {
  font-size: 30px;
  margin: 2% auto;
  color: DarkGreen;
}

ul {
  list-style: none;
}

.open {
  margin: 1% 0px;  
  overflow: auto; 
  padding: 1%;
  background: white;
  border: 2px solid DarkGreen;
  border-radius: 5px;
  width: 80%;

  &:hover {
    background: AliceBlue;
    cursor: pointer;
  }

  .taskContainer {
    float: left;
    .theTask {
      display: block;
      font-size: 18px;
    }
    .smallDate {
      display: inline-block;
      color: lightgrey;
      font-size: 14px;
      margin: 5px 0px 0px 0px;
    }
  }

  .deleteButton {
    float: right;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 5px;
    display: inline-block;
    text-align: center; 
    padding: 1px;    

    &:hover {
      cursor: pointer;
    }
    span {
      font-size: 30px;
      color: black;
      &:hover {
        color: red;
      }
    }
  }  
}

.completedTasksContainer h4 {
  font-size: 30px;
  margin: 2% auto;
  color: silver;
}

.completed {
  margin: 1% 0px;  
  overflow: auto; 
  padding: 1%;
  background: white;
  border: 2px solid silver;
  border-radius: 5px;
  width: 80%;

  &:hover {
    background: AliceBlue;
    cursor: pointer;
  }

  .taskContainer {
    float: left;
    .theTask {
      display: block;
      font-size: 18px;
      text-decoration: line-through;

    }
    .smallDate {
      display: inline-block;
      color: lightgrey;
      font-size: 14px;
      margin: 5px 0px 0px 0px;
    }
  }

  .deleteButton {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    text-align: center; 
    padding: 1px;    

    &:hover {
      cursor: pointer;
    }
    span {
      font-size: 30px;
       color: black;
      &:hover {
        color: red;
      }
    }
  }
}

