<li id="{{_id}}" class="{{status}}">
        <div class="taskContainer">
          <span class="theTask">{{name}}</span>
          <span class="smallDate">{{dueDate}}</span>
        </div>
        <div class="deleteButton">
          <span>X</span>
        </div>
      </li>